* {
  user-select: none;
  text-decoration: none;
  transition: all 0.3s;
}
.more-purple {
  background-color: #7700ff17;
}
.more-blue {
  background-color: #0077ff17;
}

.btn {
  background-color: whitesmoke;
  box-shadow: 0px 0px 2px px rgba(0, 0, 0, 0.75);
  transition: all 0.3s ease-in-out;
}
.btn:hover {
  background-color: #ffffff85;
  transform: skew(0deg, -5deg);
}

.card-text {
  font-size: 20px;
}
