* {
  user-select: none;
  text-decoration: none;
  transition: all 0.3s;
}
.more-purple {
  background-color: #7700ff17;
}
.more-blue {
  background-color: #0077ff17;
}

.btn {
  background-color: whitesmoke;
}
.btn:hover {
  background-color: #ffffff85;
}

.card-text {
  font-size: 20px;
}
