section {
  opacity: 1;
  transition: opacity 500ms ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.margin {
  margin: 20px;
}
#canvas,
.canvas {
  position: absolute;
  top: 0;
  left: 0;
}
.removed {
  display: none;
}
.invisible {
  opacity: 0.2;
}

#select {
  border: 1px solid rgb(98, 166, 205);
  outline: none;
  border-radius: 5px;
  padding: 15px;
  margin: 5px;
  background-color: #d1e1f8;
}

#option {
  background-color: rgb(255, 0, 0);
  color: white;
  width: 200px;
}

#start,
#stop {
  border: 1px solid #62a6cd;
  outline: none;
  border-radius: 5px;
  padding: 15px;
  margin: 5px;
  background-color: #a1c6fa;
}

canvas {
  pointer-events: none;
}

video {
  border-radius: 5px;
  box-shadow: 0 0 10px #292929;
}

@media screen and (max-width: 600px) {
  .margin {
    margin: 10px;
  }
  .wrapper {
    transform: scale(0.7);
  }
  #start,
  #stop {
    padding: 5px;
    margin: 0px;
  }
}
