section {
  opacity: 1;
  transition: opacity 500ms ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.removed {
  display: none;
}
.invisible {
  opacity: 0.2;
}

#wrapper {
  display: grid;
}
video,
canvas {
  /* in the center  */
  grid-column: 2;
  grid-row: 1;
}

canvas{
  pointer-events: none;
}