body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  color: #3d3d3d;
  background-color: #000000;
}
h1 {
  font-style: italic;
  color: #00c67d;
}
section {
  opacity: 1;
  transition: opacity 500ms ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.removed {
  display: none;
}
.invisible {
  opacity: 0.2;
}

#wrapper {
  display: grid;
}
video,
canvas {
  /* in the center  */
  grid-column: 2;
  grid-row: 1;
}

canvas{
  pointer-events: none;
}